/*================================
        Typography
==================================*/

* {
  box-sizing: border-box;
}

html {
  max-width: 100%;
}
img {
  overflow-y: auto;
  overflow: hidden;
}
body {
  overflow: hidden;
  font-weight: 400;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  font-family: var(--body-font);
  color: var(--gray-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: all 0.4s ease-in-out 0s;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
hr,
caption,
table,
ul,
ol,
menu,
dd,
blockquote,
pre,
p,
address {
  margin: 0;
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

h1,
.h1 {
  font-size: var(--h1);
}
h2,
.h2 {
  font-size: var(--h2);
}
h3,
.h3 {
  font-size: var(--h3);
}
h4,
.h4 {
  font-size: var(--h4);
}
h5,
.h5 {
  font-size: var(--h5);
}
h6,
.h6 {
  font-size: var(--h6);
}

@media #{$md-layout-device} {
  h1,
  .h1 {
    font-size: var(--h1) - 4;
  }
  h2,
  .h2 {
    font-size: calc(var(--h2) - 10px);
  }
  h3,
  .h3 {
    font-size: var(--h3) - 2;
  }
}
